@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --body: #944e63;
  --container: #caa6a6;
  --btn: #b47b84;
  --border: #ffe7e7;
}
body {
  background: var(--body);
  display: grid;
  place-items: center;
  transition: background 500ms;
  height: 100dvh;
}
.container {
  background: var(--container);
  border-radius: 21px;
  display: grid;
  align-items: center;
  border: var(--border) 3px solid;
  min-height: 50%;
  width: 50%;
  font-size: 1.2rem;
  padding: 20px;
  font-weight: 700;
  transition: background 500ms;
}
.quoteInfo {
  display: flex;
}
.quote {
  display: grid;
  place-items: center;
  width: 100%;
}
.comma {
  font-family: sans-serif;
  font-size: 5rem;
}

.infoAndBtn {
  display: grid;
  place-items: center;
  height: 100%;
  justify-self: end;
}
.author {
  font-family: "Protest Riot", sans-serif;
  font-weight: 900;
}
.btn {
  background: var(--btn);
  cursor: pointer;
  display: grid;
  place-content: center;
  border: none;
  outline: none;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  transition: all 300ms;
  justify-self: end;
}
.btn:active {
  scale: 0.9;
}
@media screen and (max-width: 750px) {
  .container {
    width: 80%;
    height: 80%;
  }
  .quoteInfo {
    height: 50%;
  }
  .quote {
    font-size: 1rem;
  }
  .comma {
    font-size: 3rem;
  }
  .author {
    font-size: 0.8rem;
    font-weight: 100;
  }
}
